
simulation_data/

tex_files/
solutions_example_1/
solutions_example_2/
solutions_example_beta/
solutions_bimodal/
solutions_unimodal/
solutions_wind/

analytical_example_beta.py
error.txt
run_example_beta.py
run_example_bimodal2.py
spce2.py
test_wind_gpr.py
test_wind_rep.py
test_wind.py
test.py
wind_data_acc.py
wind_data_load_gpr.py
wind_data_load_rep.py
wind_data_max_load.py
spce_wind.py
wind_data_load_pce.py
test_wind_pce.py
test_unimodal.py
wind_data_load_pce_rep.py